<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/flights">Flights</a></li>
      <li><a href="/hotels">Hotels</a></li>
      <li><a href="/rental-cars">Rental Cars</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
    </ul>
  </nav>
</header>
